:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --darkOrange: rgba(238, 111, 87, 0.5);
  --lightBlue: #6dcff6;
  --mediumBlue: lightblue;
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  text-align: center;
  background: #fcfcfd;
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}
// end main styles.

// Burger
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #070A1B;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
}

.show-link {
  visibility: visible;
  z-index: 100;
}


li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  margin: 0 auto;
  align-items: center;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  margin: 2.5%;
  line-height: 0;
  font-size: 5rem;
}

.nav-link {
  font-size: 2rem;
  transition: 0.7s ease;
  padding: 30px 0 8px;
  position: relative;
  &:hover::before {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 1px;
    width: 130px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: var(--darkOrange);
    z-index: -1;
  }
  &:hover {
    color: var(--lightBlue);
  }
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 26px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--lightBlue);
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--darkOrange);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 4;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-link {
    font-size: 2rem;
    transition: 0.7s ease;
    padding: 30px 0 8px;
    position: relative;
    &:hover::before {
      content: "";
      position: absolute;
      left: 25%;
      bottom: 1px;
      width: 130px;
      height: 12px;
      transform: skew(-12deg) translateX(-50%);
      background: var(--lightBlue);
      z-index: -1;
    }
    &:hover {
      color: var(--lightBlue);
    }
  }
}

// Navbar
.navbar {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-family: "The Nautigal", cursive;
}

a {
  text-decoration: none;
  color: var(--black);
}
// button
.btn-container {
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 auto;
  display: flex;
}
.button-51 {
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  margin-right: 3rem;
  background-color: transparent;
  border: 1px solid #266db6;
  box-sizing: border-box;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-right: 34px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: var(--darkOrange);
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: var(--lightBlue);
}

// Navbar
// .navbar__title {
//   cursor: pointer;
//   font-size: 4.3rem;
// }
// .navbar__links {
//   transition: all 0.4s linear;

//   cursor: pointer;
//   font-size: 1.6rem;
//   display: flex;
//   justify-content: center;
//   align-self: center;
//   gap: 5rem;

//   li {
//     list-style-type: none;
//   }
// }

// .navbar__link {
// padding: 30px 0 8px;
// position: relative;
// &:hover::before {
//   content: "";
//   position: absolute;
//   left: 25%;
//   bottom: 5px;
//   width: 130px;
//   height: 12px;
//   transform: skew(-12deg) translateX(-50%);
//   background: var(--darkOrange);
//   z-index: -1;
// }
// }

// header
.header__photos-block {
  display: flex;
  width: 100%;
  padding: 1% 2%;
  height: 100vh;

  opacity: 0;
  animation: ani 2.5s forwards;
}

.header__photo {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0 2%;
  line-height: 0;

  img {
    border-radius: 10%;
    border: 1px solid var(--black);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 0.5s;
  }
}

// About
// .title {
//   text-align: center;
//   font-size: 4rem;
//   font-family: "The Nautigal", cursive;

//   span {
//     padding: 30px 0 8px;
//     position: relative;

//     &::before {
//       content: "";
//       position: absolute;
//       left: 1%;
//       bottom: 1px;
//       width: 280px;
//       height: 14px;
//       transform: skew(-12deg) translateX(-50%);
//       background: var(--darkOrange);
//       z-index: -1;
//     }
//   }
// }
.about__title {
  span::before {
    transform: skew(-12deg) translateX(90%);
  }
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--varyDarkBlue);
}

h1:last-of-type {
  color: var(--varyDarkBlue);
}

.about__container-one {
  margin-top: 1rem;
}

.about__card p {
  color: var(--grayishBlue);
}

.about__card {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;

  h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
  }

  img {
    float: right;
  }

  p {
    font-size: 1.3rem;
  }
}

// Testimonials
.container {
  max-width: 1170px;
  margin: 0 auto;
}
section {
  position: relative;
  padding: 30px 0;
  z-index: 1;
  width: 100%;
}
.testiminoals__title h2 {
  font-size: 4rem;
}
.testimonials-carousel-wrap {
  margin-top: 2rem;
}
.section-separator:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 3px;
  width: 50px;
  border-radius: 3px;
  z-index: 2;
  background-color: #007aff;
  margin-left: -25px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.listing-carousel-button {
  position: absolute;
  top: 50%;
  width: 80px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  z-index: 100;
  cursor: pointer;
  background: var(--darkOrange);
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.45);
  transition: all 200ms linear;
  outline: none;
}
.listing-carousel-button.listing-carousel-button-next {
  right: -30px;
  padding-right: 20px;
  border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev {
  left: -30px;
  padding-left: 20px;
  border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover {
  right: -15px;
  background: rgba(6, 27, 65, 0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover {
  left: -15px;
  background: rgba(6, 27, 65, 0.4);
}
.testi-item {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
  opacity: 0.9;
}
.testimonials-text {
  padding: 75px 50px 75px;
  overflow: hidden;
  background: #f5f6fa;
  border: 1ps solid #f1f1f1;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.testimonials-text-after {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  bottom: 25px;
  right: 30px;
}
.testimonials-text-before {
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #ccc;
  opacity: 0.3;
  font-size: 35px;
  transition: all 400ms linear;
  top: 25px;
  left: 30px;
}
.testimonials-text .listing-rating {
  float: none;
  display: inline-block;
  margin-bottom: 12px;
}
.listing-rating i {
  color: var(--lightBlue);
}
.testimonials-avatar h3 {
  font-weight: 600;
  color: var(--darkOrange);
  font-size: 1.4rem;
}
.testimonials-avatar h4 {
  font-weight: 400;
  font-size: 1rem;
  padding-top: 6px;
  color: var(--lightBlue);
}
.testimonials-carousel .swiper-slide {
  padding: 30px 0;
}
.testi-avatar {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 90px;
  height: 90px;
  margin-left: -45px;
  z-index: 20;
}
.testi-avatar img {
  width: 90px;
  height: 90px;
  float: left;
  border-radius: 100%;
  border: 6px solid var(--mediumBlue);
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.swiper-slide-active .testimonials-text {
  background: #fff;
  box-shadow: 0 9px 26px rgba(58, 87, 135, 0.1);
}
.testimonials-text p {
  color: #878c9f;
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}
.text-link {
  position: absolute;
  bottom: 0;
  padding: 15px 0;
  border-radius: 10px 10px 0 0;
  background: #f9f9f9;
  border: 1px solid #eee;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.03);
  left: 50%;
  width: 200px;
  margin-left: -100px;
}
.swiper-slide-active .testi-item {
  opacity: 1;
  transform: scale(1);
}
.tc-pagination {
  float: left;
  margin-top: 10px;
  width: 100% !important;
}
.tc-pagination_wrap {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}
.tc-pagination2 {
  float: none;
  display: inline-block;
  padding: 14px 0;
  background: #fff;
  border-radius: 30px;
  min-width: 250px;
  border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet,
.tc-pagination2.swiper-pagination-bullet {
  opacity: 1;
  background: var(--lightBlue);
  margin: 0 2px;
  width: 10px;
  height: 10px;
  transition: all 300ms ease-in-out;
}

// Gallery
.gallery__title {
  span::before {
    transform: skew(-12deg) translateX(50%);
  }
}

.gallery__blocks {
  justify-content: center;
  align-self: center;
  max-width: 1170px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.gallery__block {
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

  justify-content: center;
  padding: 1rem;
  width: 33.3%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: 0.3s ease-in-out;

    // scale image animation
    &:hover {
      transform: scale(1.1);
    }
  }
}

// Animation
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Media-queries
@media screen and (max-width: 900px) {
  .gallery__block {
    width: 50%;
  }
}

@media screen and (max-width: 557px) {
  .gallery__block {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

// about-queries
@media (max-width: 1380px) {
  .about__card {
    p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 1099px) {
  .about__card {
    height: 200px;
  }
}

@media (min-width: 1100px) {
  .about__container-one {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__container-two {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__card-down {
    position: relative;
    top: 150px;
  }
  .about__card {
    width: 28%;
  }
}

@media (max-width: 950px) and (min-width: 520px) {
  .about__card {
    text-align: center;
    height: 210px;
  }
}

@media (max-width: 720px) {
  .about__card {
    height: 230px;
  }
}

@media (max-width: 426px) {
  .about__card {
    height: 260px;
  }
  h1 {
    font-size: 1.5rem;
  }
}

// fancyApp CSS
a[data-fancybox] img {
  cursor: zoom-in;
}

.fancybox__backdrop::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  filter: blur(2px);
  left: 50%;
  top: 50%;
  transform: scale(11);
  opacity: 0.3;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.fancybox__container {
  --fancybox-bg: var(--black);

  --fancybox-thumbs-width: 48px;
  --fancybox-thumbs-ratio: 1;

  --carousel-button-bg: rgb(91 78 76 / 74%);

  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;

  --carousel-button-svg-stroke-width: 2.5;
}

.fancybox__nav {
  --carousel-button-svg-width: 24px;
  --carousel-button-svg-height: 24px;
}

.fancybox__nav .carousel__button.is-prev {
  left: 20px;
}

.fancybox__nav .carousel__button.is-next {
  right: 20px;
}

.carousel__button.is-close {
  right: auto;
  top: 20px;
  left: 20px;
}

.fancybox__slide {
  padding: 8px 88px;
}

/* Thumbnails */
.fancybox__thumbs .carousel__slide {
  padding: 8px 8px 16px 8px;
}

.is-nav-selected::after {
  display: none;
}

.fancybox__thumb {
  border-radius: 6px;
  opacity: 0.4;
}

.fancybox__thumb:hover,
.is-nav-selected .fancybox__thumb {
  border-radius: 6px;
  opacity: 1;
}

.is-nav-selected .fancybox__thumb::after {
  display: none;
}
